
:root {
    --color-white: #fff;
    --color-gray-main: #f0f1f8;
    --black-color: #0d1016;
    --gray-second: #fcfcff;
    --gray-three: #dadfe9;
    --gray-four: #EEEFFF ;
    --gray-five: #aeb5c3 ;
    --blue-main: #293CE2;
    --blue-second: #4759f4;
    --blue-three: #2032d0;
}